body {
  background: #181818;
  color: #fff;
}

input,
button {
  font-size: 1rem;
  margin: 0 4px;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid #444;
  background: #222;
  color: #fff;
}

button:disabled {
  opacity: 0.5;
}

pre {
  background: #111;
  color: #0f0;
  display: inline;
  padding: 2px 4px;
  border-radius: 3px;
}
